/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url("img.avif");
    background-size: cover;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #007bff; /* Azul claro */
    color: #fff;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

tr:hover {
    background-color: #f0f0f0;
}

button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="text"],
input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}
