<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>a</display-name>
    <servlet-name>a</servlet-name>
    <servlet-class>com.curso.controller.a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <display-name>905-Almacen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestionProductosServlet</display-name>
    <servlet-name>GestionProductosServlet</servlet-name>
    <servlet-class>com.curso.controller.GestionProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionProductosServlet</servlet-name>
    <url-pattern>/GestionProductosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarPorSeccionServlet</display-name>
    <servlet-name>BuscarPorSeccionServlet</servlet-name>
    <servlet-class>com.curso.controller.BuscarPorSeccionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarPorSeccionServlet</servlet-name>
    <url-pattern>/BuscarPorSeccionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgregarProductos</display-name>
    <servlet-name>AgregarProductos</servlet-name>
    <servlet-class>com.curso.controller.AgregarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarProductos</servlet-name>
    <url-pattern>/AgregarProductos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarProductos</display-name>
    <servlet-name>BuscarProductos</servlet-name>
    <servlet-class>com.curso.controller.BuscarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarProductos</servlet-name>
    <url-pattern>/BuscarProductos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarProducto</display-name>
    <servlet-name>ModificarProducto</servlet-name>
    <servlet-class>com.curso.controller.ModificarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarProducto</servlet-name>
    <url-pattern>/ModificarProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarProductos</display-name>
    <servlet-name>EliminarProductos</servlet-name>
    <servlet-class>com.curso.controller.EliminarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProductos</servlet-name>
    <url-pattern>/EliminarProductos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProductos</display-name>
    <servlet-name>ListarProductos</servlet-name>
    <servlet-class>com.curso.controller.ListarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProductos</servlet-name>
    <url-pattern>/ListarProductos</url-pattern>
  </servlet-mapping>
</web-app>